.conteudo{
	background: blue;
	width: 200px;
	height: 200px;
	border: 1px solid red;
	/*float: left;*/
	float: left;
	margin: 10px;
}

#principal{
	border: 5px solid green;
	background: pink;
	width: 900px;
}

.clear{
	clear: both;
}